/*My styles for the JSON exercise*/

body {
    color: white;
}

.mainPic {
    background-image: url(./img/poundCoins.jpg);
    background-size: cover;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 3em !important;
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: bold;
}

h4 {
    color: black;
    font-weight: bold;
}

.btn-primary {
    height: 60px;
    opacity: 0.9;
    color: white;
    border: 2px solid floralwhite;
    background-color: #796124;
    /*color: floralwhite*/
}

.center {
    text-align: center;
    height: 60px;
}

.centerAlert {
    font-size: 1.8em;
    text-align: center;
    margin: 50px 0 50px 0;
}

.rightQuote {
    font-size: 4em;
    color: white; 
}


.userC {
    font-size: 2em;
    color: white;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.jumbotron.linkBridge {
    /*background-color: #A52A2A;*/
    padding: 30px 0 30px 2.5%;
    margin: 0;
    width: 100%;
    
    border-radius: 0 0 0 0 !important;
    -moz-border-radius: 0 0 0 0 !important;
    -webkit-border-radius: 0 0 0 0 !important;
    
    /*border: 5px solid rgba(165,42,42, 0.5);*/
    
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(216, 189, 121);
    /* RGBa with 0.6 opacity */
    background-color: rgba(216, 189, 121, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.data {
    /*font-size: 1.2em;*/
    /*margin-left: 5%;*/
}

/*.buttonCentre {
    margin-left: 14%;
}*/

.warningText {
    color: white;
    text-align: center;
    font-size: 1.3em;
    /*background: black;*/
    /*padding-bottom: 5px;*/
    /*opacity: 0.6;*/
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.descriptionC a {
    color: white !important;
    font-size: 1.2em;
    text-decoration: none;
    /*margin-left: 5%;*/
}

.descriptionC a:hover {
    color: brown !important;
    font-size: 1.2em;
    text-decoration: none;
}


div.jumbotron.mainHeading {
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: darkgoldenrod;
    margin-bottom: 0;
    margin: 50px 0 0 0;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    /*opacity: 0.8;*/
    /*border: 5px solid rgba(165,42,42, 0.5);*/
}

.container .jumbotron {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

div.jumbotron {
    /*margin-top: 30px;*/
    /*background: #337ab7;
    opacity: 0.9;*/
    
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(184, 134, 11);
    /* RGBa with 0.6 opacity */
    background-color: rgba(184, 134, 11, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.jumbotron p {
    font-size: 1.3rem !important;
}

#exercise_pics {
    text-align: center !important;
}

span.imgRotator img, .imgRotator iframe {
    /*border: 5px solid black;*/
    border: 2px solid rgba(165,42,42, 0.9);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    max-width: 100%;
}

canvas.canvasjs-chart-canvas {
    height: 300px !important;
    /*width: 100% !important;*/
    margin-top: 50px;
    background-color: transparent !important;
    opacity: 1 !important;
}

a.canvasjs-chart-credit {
    display: none !important;
}


